requests
fastapi
argparse
pyyaml
openai
numpy
fastapi
uvicorn
edge-tts
pathlib
soundfile
Cython==3.0.11
matplotlib
scipy
librosa==0.10.2
onnxruntime
numpy
SpeechRecognition
transformers
torch
monotonic_align
pypinyin
jieba
cn2an
uvicorn[standard]
pyaudio
typeguard==2.13.3